LOGIN here 

<h2>So glad you're here, resister/activist. Let's make a record of everything you do. Start by logging in</h2>
<form action="/citizens/login" method="POST">

  <label for="username">Your username</label>
  <input type="text" name="username">

  <label for="password">Your password</label>
  <input type="text" name="password">

  <input type="submit" value="Log me in">
</form>
