
<h2>So glad you arere here, resister/activist. Want to record what you do? Start by logging in.</h2>
<form action="/citizens/login" method="POST">

  <label for="username">Your username</label>
  <input type="text" name="username">

  <label for="password">Your password</label>
  <input type="text" name="password">

  <input type="submit" value="Log me in">
</form>

 <li><a href="/citizens/signup">First time? Sign up</a> </li>
