<h2>Thank you for all that you do </h2>
<p> Keep resisting, and thanks for letting us hold your action list.</p>

  <li><a href="/citizens/login">Login</a> </li>
  <li><a href="/citizens/signup">Sign up</a> </li>
