show.erb


This show page has all the actions for a single user 
<!-- 
<p> Actions for <%= @citizen.username %></p>

<ul>
	<% @citizen.action.each do |tweet| %>
	  <li>
	    <%= action.content %>
	  </li>
	<% end %>
</ul>

<h3><a href="/actions/new">Create</a></h3>
<h3><a href="/citizen/logout">Log out </a></h3> -->