

 Show page for all the actions. 

<h2>What everyone is doing: </h2>

<ol>
	<% @actions.each do |action| %>
	  <li>
	    <%= action.title ... action.description %>
	  </li>
	<% end %>
</ol>

<h3><a href="/actions/new">Add a new action</a></h3>
<h3><a href="/citizens/logout">Log out </a></h3>
